<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Compare rates</h3>
        <div class="form-group">
            <label for="source">Start Location :</label>
            <input type="text" class="form-control" id="source" />
            <label for="dest">Destination :</label>
            <input type="text" class="form-control" id="dest" />
        </div>
        <a href="#/result" class="btn btn-primary">Get Fares</a>
        <a href="#!/#%2Fresult" class="btn">Get Fares</a>
        <hr/>
        <div id="map"></div>
    </div>
</div>